/*#sold-counter {*/
/*    color: red;*/
/*    font-size: 1.2em;*/
/*}*/
/*#initial-stock-counter {*/
/*    color: #0f3eff;*/
/*    font-size: 1.2em;*/
/*}*/
/*#units-left-counter {*/
/*    color: red;*/
/*    font-size: 1.2em;*/
/*}*/
.countermessage1 {
    color: #0f3eff;
    font-size: 1.6em;
    font-weight: bold;
    min-width: 250px;
    text-align: center;
    align-content: center;
    background-color: rgba(15,62,255,0.36);
}
.countermessage2 {
    color: #56ff00;
    font-size: 1.6em;
    font-weight: bold;
    min-width: 250px;
    text-align: center;
    align-content: center;
    background-color: rgba(21,172,51,0.55);
}
.countermessage3 {
    color: red;
    font-size: 1.6em;
    font-weight: bold;
    min-width: 250px;
    text-align: center;
    align-content: center;
    background-color: rgba(220,98,98,0.47);
}
.counterWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 150px;
    gap: 10em;
}
.articlecontainer {
    /*border: 1px solid #0f3eff;*/
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 1em;
}

.textWrapper {
    /*border: 1px solid red;*/
    font-size: 1.2em;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-right: 1em;
}
.priceFont {
    font-size: 1.5em;
}


.imageWrapper {
    /*border: 1px solid darkgreen;*/
    width: 300px;
    height: 250px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
}
.imageWrapper img {
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;   /* of cover, zie hieronder */
}
.features {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 0.7em;
}

.featureIcon {
    width: 14px;
    height: 14px;
    object-fit: contain;
}
.listWrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 50px;
}
.brandList {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    font-weight: 500;
}
.tvListWrapper {
    /*border: 2px solid orangered;*/
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
    align-items: start;
}
.soldOut img {
    max-width: 200px;
}